{% extends 'base2.html.twig' %}

{% block title %}L'Association
{% endblock %}

{% block body %}


	<style>
		.low {
			padding-top: 10%;
		}

		.family {
			width: 100%;
		}

		p {
			text-align: justify;
		}

		.name {
			margin-top: 20px;
			font-size: 2em;
			font-style: bold;
			color: grey;
			font-family: "Righteous", cursive;

		}

		.story {
			font-family: "Righteous", cursive;
			font-size: 5em;
			color: #f0f1f5;
			margin: 10% 5% 5%;
			float: right;
			text-align: center;
		}

		.text {
			font-size: 1.5em;
			color: #f6e2e3;
			margin: 2%;
			float: right;
			text-align: justify center;

		}
		.container {
			padding-bottom: 10%;
		}
		.paragraph {
			font-size: 0.8em;
		}
		.img_begining {
			width: 96.5%;
			text-align: center;
		}
		.desc {
			font-size: 80%;
			text-align: justify center;
			margin: 5% 10%;
		}
		.bloc5 {
			font-size: 1.2em;
			color: #555791;
		}
		.function {
			font-family: Arial, sans-serif;
			font-size: 0.5em;
		}
	</style>

	<!-- Bloc 1-->

	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="col-12 low" style="padding-top:20%;">
					<h1 style="font-size:3.5em;">Une famille qui s'agrandit</br>de jour en jour</h1><br><br>
				<p>L’association Au’Tours de la Famille est une organisation au sein du quartier du Sanitas à Tours. Ayant connaissance des difficultés du terrain, elle se veut médiatrice et aspire à réduire la fracture ressentie par les habitants du quartier vis à vis du monde extérieur. Pour cela elle propose divers types d’activités (familiales, culturelles, ludiques et sportives) et multiplie ses champs d’actions avec une réelle volonté d’apporter à ses adhérents, acteurs en son sein, ils jouent alors un rôle crucial dans la vie de chacun.</p>
			</div>
		</div>

		<div class="col-sm">
			<div class="low"><img class="family" src="/img/association/famille.png" alt="">
			</div>
		</div>
	</div>
</div>

<!-- Bloc 2-->
<div class="container_color" style="background-color: #2f2d45; height:70vh;">
	<div class="row">
		<div class="col-sm text">
			<p class="paragraph">L'association Au’Tours de la Famille est née officiellement en janvier 2007 mais elle a commencé bien avant dans l'imagination de Marie Agnès et de Pascaline.</p>
			<p class="paragraph">
				<span style="font-size:3em;">
					<b>"</b>
				</span>Le premier objet de l'association était d'organiser une semaine de la famille en octobre de chaque année. Il aura fallu de nombreuses rencontres avec des structures travaillant auprès des familles pour nous faire connaître d'une part et pour partager nos attentes avec le vécu des travailleurs sociaux. La première semaine de la famille a donc eu lieu en octobre 2007. Nous avions vu « grand » avec Pascaline !!!<span style="font-size:3em;">
					<b>"</b>
				</span>
			</p>
		</div>
		<div class="col-sm story" style="">
			<h1>Au commencement de notre histoire</h1>
		</div>
	</div>

</div>

<!-- Bloc 3-->
<div class="container_color" style="background-color: #f0f1f5; height:90vh;">
	<div class="">
		<div class="row">
			<div class="col-sm">
				<p class="desc">
					<span style="font-size:3em;">
						<b>"</b>
					</span>Nous avons mis 3 écoles élémentaires à contribution. Il y a eu une chorale dans une classe, un atelier de généalogie dans une autre et un autre de comédie pour de la prévention des accidents domestiques. Ces classes ont présenté le fruit de leur travail lors du samedi clôturant cette première semaine de la famille. Cet événement festif s'est déroulé au Centre de Vie du Sanitas et il fut accompagné d'un goûter et d'un spectacle des Imbert et Moreau. Tout le long de la semaine, il y a eu des animations en maison de retraite, de l'éveil corporel pour les petits, un dimanche de jeux avec l'aide du Ludobus des PEP 37, une exposition des œuvres peintes et/ou écrites par les habitants du quartier etc... Grâce à la création officielle de l'association, nous avons pu demander des subventions dans le cadre de la politique de la ville. Voilà pour la première année. Le service communication de la mairie nous avait dessiné une affiche qui a été reprise chaque année.En 2008 nous avons organisé une nouvelle semaine de la famille en octobre avec les mêmes partenaires et les mêmes écoles. C'est à peu près à cette époque que nous avons fait la connaissance de Stéphanie Piot qui avait une association reconnue par le Centre de Vie. Elle avait aménagé un petit jardin au pied de l ancienne passerelle en partenariat avec Tours Habitat. Nous y avons été invités. Et l'année suivante, Stéphanie, qui avait déjà d'autres projets en tête, nous a demandé si nous étions intéressés par l'entretien de ce jardin. Et nous avons accepté. J'avais rencontré 3 familles qui étaient intéressées par des activités récréatives pour leurs enfants et nous avons commencé à proposer des jeux dans le petit jardin les mercredis après midi. Il y avait 3 mamans et 7 enfants !
				</p>
			</div>
			<div class="col-sm"><img class="img_begining" src="/img/association/hall1.jpg" alt="hall"></div>
			<div class="col-sm">
				<p class="desc">
					Nous faisions toutes nos activités dehors sur une table de tapissier pliante. D'autres familles sont venues nous rejoindre et notre petit groupe s'est agrandi. L'association a augmenté ses actions en participant au Printemps des Poètes, à la fête du Jeu, à la fête de la musique et aussi du quartier. Nous avons monté une petite chorale pour accueillir le Père Noël qui passait nous voir chaque année dans notre petit jardin le 24 décembre. Lors de l'aménagement de la nouvelle passerelle, notre petit jardin a dû être détruit, à notre grande déception, et Tours Habitat nous a confié le jardin que nous avons actuellement en face du 7. Mais à cette époque, nous n'avions toujours pas de local ! Jusqu'au jour où la mairie de Tours, par le biais de la politique de la ville, nous a proposé de partager le local mis à la disposition du comité de quartier. C'était une aubaine pour nous. Grâce à Culture du Cœur, nous avons pu y organiser des stages de peinture sur soie et de poterie. Nous avons également organiser des jeux, des ateliers de bricolage, des goûters etc... Mais ce local est devenu trop petit et un jour, on nous a proposé le local actuel, le « 7 » qui avait appartenu à l AFCM. Et depuis, nous y sommes. Ce n’est pas possible de résumer en quelques lignes tout ce que nous avons vécu et continuons de vivre au sein de l association. Voici un aperçu des 15 années de la vie de l'association Au’Tours de la Famille : Des animations tous les mercredis après-midi et vacances scolaires, en intérieur ou en sorties, du jardinage, des balcons fleuris, des visites culturelles, des journées dans des parcs d'attraction (Futuroscope, Family Park, Papea, le parc Asterix etc...), des journées à la mer, un week-end à la ferme, 4 jours à Paris, 3 jours au Puy du Fou, une randonnée de Tours à Paris à pied « sur les Pas de Léonard » suivie d une visite du Louvre et 2 jours à Paris, l'aquarium de La Rochelle et j'en passe !
					<span style="font-size:3em; padding-left:100px;">
						<b>"</b>
					</p>
				</p>
			</span>
		</div>
	</div>


</div></div><!-- Bloc 4--><div class="container_color" style="background-color: black; height:70vh;">
<div class="row" style="text-align:center; padding-top:3%;">
	<div class="col-sm"><img controls="controls" loop="loop" style="width: 80%;" src="/video/marie-bg.gif"/></div>
	<div class="col-sm"><img controls="controls" loop="loop" style="width: 80%;" src="/video/pascaline.gif"/></div>
	<div class="col-sm"><img controls="controls" loop="loop" style="width: 80%;" src="/video/ghania-bg.gif"/></div>
</div>
<div class="row" style="text-align:center;">
	<div class="col-sm name">Marie Agnès
		<br><span class="function">Fondatrice</span>
	</div>
	<div class="col-sm name">Pascaline
		<br>
		<span class="function">Fondatrice</span>
	</div>
	<div class=" col-sm name">Ghania
		<br>
		<span class="function">Relève</span>
	</div>
</div></div><!-- Bloc 5--><div style="background-color: white; height:90vh;">
<div class="container bloc5">
	<div class="row">
		<span style="font-size:3em;">
			<b>"</b>
		</span>
		<p>
			L'association Au’Tours de la Famille c'est aussi des journées Handisport sur l'île Balzac, des rencontres avec des associations de mal voyants, des ateliers cuisine avec une diététicienne, de la gymnastique féminine, des ateliers du rire, des rencontres de couture, des « goûters des mamans » le dimanche après midi une fois par mois, du soutien scolaire, des repas ensemble, des réveillons du Nouvel An etc...
			<br><br>Et c'est surtout une centaine de familles dont certaines sont très impliquées et un nombre d’enfants qui ne cesse d'augmenter au fil des années. Au’Tours de la Famille, c’est aussi de l'écoute, de l'entraide, de l'accueil, du partage et de la joie d'être ensemble. C'est notre « bébé » à Pascaline et à moi.
			<br><br>J'ai eu du mal à la quitter mais je sais que nous l’avons laissée entre de bonnes mains.
			<br><br>
			<b>Merci à la relève !</b>
		</p>
		<span style="font-size:3em;">
			<b>"</b>
		</span>
	</div>

	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm"></div>
		<div class="col-sm"><img style="width:90%; margin-top:-10%;" src="/img/association/s4.png" alt=""></div>
	</div>
</div></div></div></div>{% endblock %}
