<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="{{asset("/img/logo_autours_de_la_famille_blanc.png") }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


		<title>
			{% block title %}Au'Tours de la Famille
			{% endblock %}
		</title>

		<header>{% include 'base2/sidebar.html.twig' %}</header>

	</head>
	<body>

		{% block body %}{% endblock %}
	</body>


	<footer>
		{% include 'base2/footer2.html.twig' %}
	</footer>


</html>
