<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="{{asset("/img/logo_autours_de_la_famille_blanc.png") }}">

		<title>
			{% block title %}Au'Tours de la Famille
			{% endblock %}
		</title>

		<header>{% include 'base/navbar.html.twig' %}</header>

	</head>
	<body>

		{% block body %}{% endblock %}
	</body>


	<footer>
		{% include 'base/footer.html.twig' %}
	</footer>


</html>
