{% extends 'base2.html.twig' %}

{% block title %}Galerie
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Righteous&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('css/index.css')}}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!DOCTYPE html>
	<html>
		<style>
			* {
				box-sizing: border-box;
			}

			body {
				margin: 0;
				font-family: Arial;
			}

			.header {
				background-image: url('/img/homepage/home_bat_bg.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				height: 70vh;
				padding-top: 15%;
			}
			.title {
				padding-top: 15%;
				margin: 0 auto;
			}

			.title-det {
				color: white;
				font-family: "Righteous", cursive;
				font-size: 9em;
				background-color: black;
				text-align: center;
			}

			.row {
				display: -ms-flexbox; /* IE10 */
				display: flex;
				-ms-flex-wrap: wrap; /* IE10 */
				flex-wrap: wrap;
				padding: 0 4px;
			}


			img:hover {

				transform: scale(1.05);
				z-index: 2;
			}
		</style>
		<body>

			<!-- Header -->
			<div class=" row header">
				<div class="col-4"></div>
				<div class="col-4">
					<div class="title">
						<p class="title-det">Galerie</p>
					</div>
				</div>
				<div class="col-4"></div>


			</div>

			<!-- Photo Grid -->
			<br><br>
			<div class="row">
				<img class="col-1" style="" src="" alt="">
				<img class="col-5" style="" src="/img/galery/gal.jpg" alt="">
				<img class="col-5" style="background-color:black;" src="" alt="">
				<img class="col-1" style="" src="" alt="">

			</div>

			<div class="row">
				<img class="col-1" style="" src="" alt="">
				<img class="col-5" style="background-color:black;" src="" alt="">
				<img class="col-5" style="" src="/img/galery/gal.jpg" alt="">
				<img class="col-1" style="" src="" alt="">

			</div>

			<div class="row">
				<img class="col-1" style="" src="" alt="">
				<img class="col-5" style="" src="/img/galery/gal.jpg" alt="">
				<img class="col-5" style="background-color:black;" src="" alt="">
				<img class="col-1" style="" src="" alt="">

			</div>

			<div class="row">
				<img class="col-1" style="" src="" alt="">
				<img class="col-5" style="background-color:black;" src="" alt="">
				<img class="col-5" style="" src="/img/galery/gal.jpg" alt="">
				<img class="col-1" style="" src="" alt="">

			</div>
			<div class="row">
				<img class="col-1" style="" src="" alt="">
				<img class="col-5" style="" src="/img/galery/gal.jpg" alt="">
				<img class="col-5" style="background-color:black;" src="" alt="">
				<img class="col-1" style="" src="" alt="">

			</div>
			<div class="row">
				<img class="col-1" style="" src="" alt="">
				<img class="col-5" style="background-color:black;" src="" alt="">
				<img class="col-5" style="" src="/img/galery/gal.jpg" alt="">
				<img class="col-1" style="" src="" alt="">

			</div>
			<div class="row">
				<img class="col-1" style="" src="" alt="">
				<img class="col-5" style="" src="/img/galery/gal.jpg" alt="">
				<img class="col-5" style="background-color:black;" src="" alt="">
				<img class="col-1" style="" src="" alt="">

			</div>


		</body>
	</html>
{% endblock %}
